*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color:rgb(218, 210, 198);
}
.nav-bar {
    height: 60px;
    background-color: #0f1111;
    display: flex;
    align-items: center;
    color: white;
    justify-content: space-evenly;
}
/*box 1*/
.logo {
    height: 41px;
    width: 136px;
    background-image: url('amazon-logo-orgsmile.svg');
    background-size: cover;    
}
.border{
    border: 2px solid #0f1111;
}
.border:hover{
    border: 2px solid white;
}

/* box 2 */
.nav-ad{
    height: 50px;
    width: 150px;
    border: 1.5px solid #0f1111;
    
}
#ad-logo{
    display: flex;
}
#ad-first{
    font-size: .85rem;
    margin-left: 15px;
}
#ad-second{
    font-size: 1rem;
    margin-left: 3px;
}
#nav-ad:hover {
    border: 1.5 solid white;

}
/*box 3*/
.search_bar{
    background-color: rgb(229, 168, 15);
    height: 40px;
    width: 660px;
    border-radius: 5px;
    display: flex;
    justify-content: space-evenly;
}
select{
    
    width: 45px;  
    border-start-start-radius:5px ;
    border-bottom-left-radius:5px ; 
    background-color: #f3f3f3;
    border: none;
}
input{
    width: 100%;
    margin-right: 3px;
    position: relative;
    border: none;
}
.search-logo{
    height: 40px;
    width: 40px; 
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}
/*box4*/
.lang{
    height: 50px;
    width: 70px;
    margin-top: 5px;
}
#lang{
    height: 40px;
    background-color: #0f1111;
    color: white;
}
/* box5 */
#sign{
    width: 15px;
    color: white;
    background-color: #0f1111;
}
.Account{
    display: flex;
}
.caps{
    font-size: 18px;
}
.sign_in{
    height: 50px;
}
.cart{
    display: flex;
    height: 50px;
    width: 100px;
    justify-content: center;
    align-items: center;
}
/* menu */
.menu{
    background-color: #232f3e;
    height: 40px;
    color: white;
    display: flex;
    justify-content: space-evenly;
}
.Border{
    border: 1.5px solid transparent;
}
.box{
    height: 35px; 
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;
}
.Border:hover{
    border: 1.5px solid white;
}
#box{
    background-image: url(PD24_SWM_StartsIn_V2._CB570361377_.jpg);
    height: 40px;
    width: 400px;
    background-size: cover;
    margin-right: 10px;
}
/*body*/
.hero_image{
    height: 400px;
    background-image: url(PDED_PC-hero-new-kv_-3000x1200_2._CB568700019_.jpg);
    background-size: cover;
}
.shopping{
    height: 420px;  
    display: flex;
    margin-top: -150px;
}
.Box{
    height: 420px;
    width: 345px;
    background-color: white;
    margin: 10px;
    z-index: 2;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
}
.box_image{
    height: 100px;
    width: 150px;
    margin: 5px;
    background-size: cover;
}





